# directory

# vagrant work directory
/.vagrant
**/*.vagrant
**/*bin
**/*build
**/*tmp
**/*run

# files
**/*iso
**/*img
**/*id
**/*uuid
**/*log


# security
# no keys inside any repositories
**/*key
**/*pem
**/*crt
**/*pub
